<!doctype html>
<html ng-app="todoApp">
  <head>
    <title>App Todo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/resets.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="assets/js/todo.js"></script>
  </head>
  <body>
    <div class="container" id="app">
        <h1 class="todo-header">Todo App</h1>
        <div ng-controller="TodoController as controller" data-ng-init='load()'>
            <div ng-show="controller.fetchingTodos" class="loading">Please wait...</div>
            <div ng-show="!controller.fetchingTodos">
                <div class="todo-filter">
                    <label class="checkbox">
                        <input name="filter" type="radio" ng-click="byStatus('')" value="">
                        <span>All</span>
                    </label>
                    <label class="checkbox">
                        <input name="filter" type="radio" ng-click="byStatus('completed')" value="completed">
                        <span>Completed</span>
                    </label>
                </div>

                <input name="todo" type="text" ng-model="controller.inputValue" ng-keydown="controller.clickAddNewTodo($event)" placeholder="Enter new Todo..." ng-click="event = $event" ng-change="controller.onChange(event)" ng-class="{'error': controller.hasError}"/>
                
                <div class="todo-item" ng-repeat="todo in controller.todos | filter:status">
                    <label style="flex: 1" for="{{ 'todo-item-' + $index}}">
                        <input id="{{ 'todo-item-' + $index}}" type="checkbox" ng-checked="(todo.status === 'completed')" ng-click="controller.handleMarkAsCompleted(todo, $index, $event)">
                        <span ng-class="{'completed': todo.isDone}">{{todo.value}}</span>
                    </label>
                    <span class="created-date">{{todo.created_date}}</span>
                    <div>
                        <button class="button button-edit" ng-click="controller.handleEditTodo(todo, $index)">Edit</button>
                        <button class="button button-delete" ng-click="controller.handleDeleteTodo(todo, $index)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
  </body>
</html>